.bowlReg_img{
    animation-name: bowlReg_img_animation;
    animation-duration: 4s;

}
@keyframes bowlReg_img_animation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }